In [1]:
import pandas as pd

In [2]:
url = './data-maxtemp/timeseries-data/jma-maxtemp-heatpoints-by-pref-daily.csv'

In [3]:
df = pd.read_csv(url, parse_dates=['date'])

東京都の記録

In [43]:
tokyo = df.loc[df.pref=='東京都'].copy()

In [47]:
#真夏日の連続日数
def count_consecutive_true(group):
    is_true = group['over30_capitol']
    shifted = is_true.shift(fill_value=False)
    reset_points = ~is_true | (~shifted & is_true)
    group['consecutive_count'] = reset_points.cumsum().where(is_true, 0)
    group['consecutive_count'] = group.groupby('consecutive_count').cumcount() + 1
    return group

In [48]:
tokyo = tokyo.groupby('year').apply(count_consecutive_true).reset_index(drop=True)

In [49]:
tokyo

,date,year,pref,maxtemp,maxtemp_capitol,over30,over30_capitol,over35,over35_capitol,over40,over40_capitol,consecutive_count
0,2000-01-01,2000,東京都,24.1,12.6,False,False,False,False,False,False,1
1,2000-01-02,2000,東京都,24.1,8.8,False,False,False,False,False,False,2
2,2000-01-03,2000,東京都,23.8,16.5,False,False,False,False,False,False,3
3,2000-01-04,2000,東京都,24.1,14.0,False,False,False,False,False,False,4
4,2000-01-05,2000,東京都,24.2,11.6,False,False,False,False,False,False,5
...,...,...,...,...,...,...,...,...,...,...,...,...
8624,2023-08-12,2023,東京都,35.9,35.5,True,True,True,True,False,False,38
8625,2023-08-13,2023,東京都,33.9,32.9,True,True,False,False,False,False,39
8626,2023-08-14,2023,東京都,32.9,32.9,True,True,False,False,False,False,40
8627,2023-08-15,2023,東京都,32.8,32.8,True,True,False,False,False,False,41
8628,2023-08-16,2023,東京都,32.2,32.2,True,True,False,False,False,False,42